footer {
  background-color: #3f4145;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}

.infoOuter{
  display: flex;
  gap: 2rem;
}

.footerF {
  width: 15rem;
  display: block;
  object-fit: contain;
  object-position: top;
}

.socialIcons {
  display: flex;
  padding-top: .5rem;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;

}

.socialIcons img {
  width: 1.5rem;
  margin-right: .5rem;
}

.footerLogo {
  font-family: Times New Roman;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 35pt;
}

.footerText {
  font-family: Segoe UI, Open Sans , arial;
  font-size: 11pt;
  color: white;
  padding: 0;
  text-align: left;
}

@media (max-width: 1150px){
  footer {
    justify-content: center;
  }
}

@media (max-width: 650px){
  .infoOuter{
    flex-direction: column;
  }
}
