

/* thumbnails */


#gallery{
  max-width: 70rem;
  width: 100%;
  padding: 1rem;
  margin:auto;

  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  caret-color: transparent;
  overflow:hidden;

  max-height: 50rem;

  -webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */

}

#gallery img {
  width: calc((100% - 3rem)/4 );
  transition: .25s;

}

#gallery img:hover {
  cursor: pointer;
  transform: scale(1.05);

}


/* showMore/showLess */
@keyframes showMore {
  0% {max-height: 50rem;}
  100% {max-height: 2000rem;}
}

#gallery.more{
max-height: 2000rem;
animation: showMore 10s;
}

@keyframes showLess {
  from {max-height: 500rem;}
  to {max-height: 50rem;}
}

#gallery.less{
  animation: showLess 1s;
}


/*  Gallery Mode*/
.galleryFullOpen {
width: 100vw;
height: 100vh;
background-color: rgba(0,0,0,1);
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
cursor: pointer;
align-items: center;
z-index:30;
transition: .5s;
/* opacity: 100%; */

}


/*Adds smooth transition when closing the gallery */
.closing{
  opacity:0%;
}

.nextImage{
  opacity: 0%;
}

@keyframes opacity {
  0% {opacity:  10%;}
  100% {opacity: 100%;}
}

/* stops auto blue highlight. */
#galleryFull {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#galleryFull img{
  max-width: 80vw;
  max-height: 90%;
  caret-color: transparent;
  /* transition: 0.5s; */
  animation: opacity .5s;
  position: fixed;
  z-index: 30;
  -webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */
}

/* prev and next button */
.arrows {
  display: block;
  padding: 2rem 3rem;
  border-radius: 4px;
  background-color: #1a1a1a;
  position: fixed;
  bottom: 5vh;

  z-index: 40;
  font-size: 14pt;
  color: white;
  cursor: pointer;
  text-transform:uppercase;
  user-select: none;
  text-decoration: none;

}

.arrows:hover {
  opacity: 0.8;
}
#prev{
left: 2vw;

}
#next{
right: 2vw;
}


#show-more{
  transition-duration: .5s;
  color: black;
  font-family: Times New Roman;
  display: block;
  width: 8rem;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  margin: 1rem auto;
  cursor: pointer;

  background: #ff99db;
}


#whiteGradient {
  background-image: linear-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,1) 80%);
  z-index: 2;
  width: 100vw;
  height: 20rem;
  margin-top: -19rem;
  position: absolute;
  pointer-events:none;
}





@media only screen and (min-width: 768px){

  #show-more{
    width: 200px;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    user-select: none;
  }

  /* #index-gallery.open{
    max-height: 2000rem !important;
  } */
.arrows {
  padding: .5rem 1rem;
  bottom: 45vh;
}
}
@media only screen and (max-width: 600px){
  #gallery{
    gap:0.5rem;
    max-height: 50rem;
  }

  #gallery img {
    width: calc((100% - 1.5rem)/3 );
  }

}
