.NewsletterPDF{
  height: 60rem;
  max-width: 70rem;
  margin-top: 8rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  display: block;
  box-shadow: 3px 3px 12px black;
}
