*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1 {

  font-family: Times New Roman;
  font-size: 50pt;
  color: #262626;
  text-align: center;

  margin: auto;
  padding-top: .5em;
  /* width: 50%; */
}

h2 {
  font-family: Times New Roman;
  font-weight: 200;
  color: #303030;
  font-size: 25pt;
  text-align: center;

  margin: auto;
  padding-top: .25em;

}

h3 {
  font-family: Segoe UI;
  font-style: regular;
  font-weight: 400;
  font-size: 16pt;
  color: #707070;
  text-align: center;
  width: 50%;

  margin: auto;
  padding-top: 1em;
  margin-bottom: 4em;
}

p {
  font-family: Segoe UI;
  font-size: 16pt;
  color: #707070;
  text-align: center;
  width: 50%;

  margin: auto;
  padding-top: 1em;
  margin-bottom: 8em;
}

.large{
  height: 30vw;


  overflow: hidden;
}
.large img{
/* centre */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  /* position: absolute; */


  width: 60%;
}

.img-container {
  margin-top: 2vw;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.img-container img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.img-container img.next {
  opacity: 1;
  z-index: 1;
}

.img-container img.prev {
  opacity: 1;
  z-index: 2;
}

.img-container img.fade-out {
  opacity: 0;
  /* Speed of the transition */
  transition: visibility 0s 1.5s, opacity 1.5s linear;
  visibility: hidden;
}
